In [1]:
import pandas as pd

# Charger la base de données
data = pd.read_csv('USACovidData.csv')

# Afficher les premières lignes pour vérifier si la lecture s'est faite correctement
data.head(20)

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,202799362,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,66800091,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,57898053,4569040,12671821
13,Indiana,2105286,26672,NaN,NaN,312718,3962,21512168,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995,4150897,6045680

In [2]:
print(data.columns)

Index(['USA State', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Tot Cases/ 1M pop', 'Deaths/ 1M pop', 'Total Tests',
       'Tests/ 1M pop', 'Population'],
      dtype='object')

#Description des variables 

USA State : Il sagit du nom de lÉtat des États-Unis concerné par les données.

Total Cases : Cest le nombre total de cas confirmés de COVID-19 dans cet État depuis le début de la pandémie.

Total Deaths : Il sagit du nombre total de décès attribués au COVID-19 dans cet État depuis le début de la pandémie.

Total Recovered : Cest le nombre total de personnes considérées comme récupérées du COVID-19 dans cet État depuis le début de la pandémie.

Active Cases : Cest le nombre total de cas actifs de COVID-19 dans cet État à un moment donné, cest-à-dire le nombre total de cas moins les récupérations et les décès.

Tot Cases/ 1M pop : Cest le nombre total de cas de COVID-19 pour chaque million de personnes dans la population de cet État. Cela permet de normaliser les cas par rapport à la taille de la population.

Deaths/ 1M pop : Cest le nombre total de décès attribués au COVID-19 pour chaque million de personnes dans la population de cet État. Encore une fois, cela permet de normaliser les décès par rapport à la taille de la population.

Total Tests : Cest le nombre total de tests de dépistage du COVID-19 réalisés dans cet État depuis le début de la pandémie.

Tests/ 1M pop : Cest le nombre total de tests de dépistage du COVID-19 réalisés pour chaque million de personnes dans la population de cet État. Encore une fois, cela permet de normaliser les tests par rapport à la taille de la population.

Population : Il sagit de la population totale de cet État.

In [3]:
#informations sur notre jeu de données
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USA State          50 non-null     object
 1   Total Cases        50 non-null     int64
 2   Total Deaths       50 non-null     int64
 3   Total Recovered    45 non-null     float64
 4   Active Cases       45 non-null     float64
 5   Tot Cases/ 1M pop  50 non-null     int64
 6   Deaths/ 1M pop     50 non-null     int64
 7   Total Tests        50 non-null     int64
 8   Tests/ 1M pop      50 non-null     int64
 9   Population         50 non-null     int64
dtypes: float64(2), int64(7), object(1)
memory usage: 4.0+ KB

In [4]:
#statistique descriptive des mes variables
data.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
count,5.000000e+01,50.000000,4.500000e+01,45.000000,50.0000,50.000000,5.000000e+01,5.000000e+01,5.000000e+01
mean,2.099555e+06,22770.580000,2.078133e+06,13326.422222,321633.3200,3403.980000,2.334829e+07,3.426067e+06,6.550675e+06
std,2.380548e+06,24439.304847,2.424155e+06,19472.358374,43011.9253,854.845671,3.452085e+07,1.522581e+06,7.389282e+06
min,1.540090e+05,929.000000,1.530110e+05,0.000000,230619.0000,1419.000000,1.026007e+06,1.053651e+06,5.787590e+05
25%,5.952392e+05,5434.000000,6.444610e+05,1898.000000,295795.7500,2773.750000,6.020897e+06,2.495598e+06,1.827712e+06
50%,1.527093e+06,15789.500000,1.371142e+06,6180.000000,324968.5000,3547.500000,1.415374e+07,2.949936e+06,4.558234e+06
75%,2.460072e+06,28462.250000,2.289616e+06,14863.000000,345628.7500,4077.000000,2.467828e+07,4.071986e+06,7.530849e+06
max,1.239336e+07,104634.000000,1.222766e+07,99077.000000,418935.0000,4637.000000,2.027994e+08,8.314785e+06,3.951222e+07

In [6]:
data.isna().sum()

USA State            0
Total Cases          0
Total Deaths         0
Total Recovered      0
Active Cases         0
Tot Cases/ 1M pop    0
Deaths/ 1M pop       0
Total Tests          0
Tests/ 1M pop        0
Population           0
dtype: int64

In [5]:
# Calculer la moyenne de chaque colonne
mean_total_recovered = data['Total Recovered'].mean()
mean_active_cases = data['Active Cases'].mean()

# Imputer les valeurs manquantes par la moyenne de chaque colonne
data['Total Recovered'].fillna(mean_total_recovered, inplace=True)
data['Active Cases'].fillna(mean_active_cases, inplace=True)
# Définir le format d'affichage des nombres à virgule flottante
pd.options.display.float_format = '{:.1f}'.format

In [7]:
data.head(20)

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,202799362,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,66800091,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,57898053,4569040,12671821
13,Indiana,2105286,26672,2078132.6,13326.4,312718,3962,21512168,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995,4150897,6045680

In [60]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://developers.google.com/public-data/docs/canonical/states_csv"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Trouver le tableau contenant les données des États
table = soup.find("table")

# Initialiser des listes pour stocker les données
us_state_names = []
latitudes = []
longitudes = []
state_codes = []

# Parcourir les lignes du tableau
for row in table.find_all("tr")[1:]:  # Ignorer la première ligne (en-têtes)
    columns = row.find_all("td")
    if len(columns) >= 4:  # S'assurer que la ligne contient les informations nécessaires
        state_code = columns[0].text.strip()
        latitude = columns[1].text.strip()
        longitude = columns[2].text.strip()
        state_name = columns[3].text.strip()
        state_codes.append(state_code)
        latitudes.append(latitude)
        longitudes.append(longitude)
        us_state_names.append(state_name)

# Créer un DataFrame Pandas avec les données
data = {
    'State Code': state_codes,
    'USA State': us_state_names,
    'Latitude': latitudes,
    'Longitude': longitudes
}
df = pd.DataFrame(data)
df['Latitude'] = df['Latitude'].str.replace(',', '.').astype(float).round(6)
df['Longitude'] = df['Longitude'].str.replace(',', '.').astype(float).round(6)

# Écrire le DataFrame dans un fichier CSV
df.to_csv('usa_data.csv', index=False)

In [8]:
us =pd.read_csv('usa_data.csv')
us.head(50)

   State Code             USA State  Latitude  Longitude
0          AK                Alaska      63.6     -154.5
1          AL               Alabama      32.3      -86.9
2          AR              Arkansas      35.2      -91.8
3          AZ               Arizona      34.0     -111.1
4          CA            California      36.8     -119.4
5          CO              Colorado      39.6     -105.8
6          CT           Connecticut      41.6      -73.1
7          DC  District of Columbia      38.9      -77.0
8          DE              Delaware      38.9      -75.5
9          FL               Florida      27.7      -81.5
10         GA               Georgia      32.2      -82.9
11         HI                Hawaii      19.9     -155.7
12         IA                  Iowa      41.9      -93.1
13         ID                 Idaho      44.1     -114.7
14         IL              Illinois      40.6      -89.4
15         IN               Indiana      40.6      -85.6
16         KS                Kansas      39.0      -98.5
17         KY              Kentucky      37.8      -84.3
18         LA             Louisiana      31.2      -92.1
19         MA         Massachusetts      42.4      -71.4
20         MD              Maryland      39.0      -76.6
21         ME                 Maine      45.3      -69.4
22         MI              Michigan      44.3      -85.6
23         MN             Minnesota      46.7      -94.7
24         MO              Missouri      38.0      -91.8
25         MS           Mississippi      32.4      -89.4
26         MT               Montana      46.9     -110.4
27         NC        North Carolina      35.8      -79.0
28         ND          North Dakota      47.6     -101.0
29         NE              Nebraska      41.5      -99.9
30         NH         New Hampshire      43.2      -71.6
31         NJ            New Jersey      40.1      -74.4
32         NM            New Mexico      35.0     -105.0
33         NV                Nevada      38.8     -116.4
34         NY              New York      43.3      -74.2
35         OH                  Ohio      40.4      -82.9
36         OK              Oklahoma      35.0      -97.1
37         OR                Oregon      43.8     -120.6
38         PA          Pennsylvania      41.2      -77.2
39         PR           Puerto Rico      18.2      -66.6
40         RI          Rhode Island      41.6      -71.5
41         SC        South Carolina      33.8      -81.2
42         SD          South Dakota      44.0      -99.9
43         TN             Tennessee      35.5      -86.6
44         TX                 Texas      32.0      -99.9
45         UT                  Utah      39.3     -111.1
46         VA              Virginia      37.4      -78.7
47         VT               Vermont      44.6      -72.6
48         WA            Washington      47.8     -120.7
49         WI             Wisconsin      43.8      -88.8

In [9]:

print(us['USA State'])

0                   Alaska
1                  Alabama
2                 Arkansas
3                  Arizona
4               California
5                 Colorado
6              Connecticut
7     District of Columbia
8                 Delaware
9                  Florida
10                 Georgia
11                  Hawaii
12                    Iowa
13                   Idaho
14                Illinois
15                 Indiana
16                  Kansas
17                Kentucky
18               Louisiana
19           Massachusetts
20                Maryland
21                   Maine
22                Michigan
23               Minnesota
24                Missouri
25             Mississippi
26                 Montana
27          North Carolina
28            North Dakota
29                Nebraska
30           New Hampshire
31              New Jersey
32              New Mexico
33                  Nevada
34                New York
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39             Puerto Rico
40            Rhode Island
41          South Carolina
42            South Dakota
43               Tennessee
44                   Texas
45                    Utah
46                Virginia
47                 Vermont
48              Washington
49               Wisconsin
50           West Virginia
51                 Wyoming
Name: USA State, dtype: object

In [27]:
#Concatener mes deux bases de données

usa_dataframe = pd.merge(data, us, on="USA State", how="inner")
usa_dataframe.head(52)

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population,State Code,Latitude,Longitude
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317,1903317,4903185,AL,32.3,-86.9
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640,6548661,731545,AK,63.6,-154.5
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035,3089698,7278717,AZ,34.0,-111.1
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831,2663139,3017804,AR,35.2,-91.8
4,California,12393361,104634,12227662.0,61065.0,313659,2648,202799362,5132573,39512223,CA,36.8,-119.4
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759,3715530,5758736,CO,39.6,-105.8
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196,4704585,3565287,CT,41.6,-73.1
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007,1053651,973764,DE,38.9,-75.5
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,66800091,3110202,21477737,FL,27.7,-81.5
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980,2723446,10617423,GA,32.2,-82.9
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166,2896566,1415872,HI,19.9,-155.7
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678,1847542,1787065,ID,44.1,-114.7
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,57898053,4569040,12671821,IL,40.6,-89.4
13,Indiana,2105286,26672,2078132.6,13326.4,312718,3962,21512168,3195405,6732219,IN,40.6,-85.6
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575,2691723,3155070,IA,41.9,-93.1
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342,2133427,2913314,KS,39.0,-98.5
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281,3060940,4467673,KY,37.8,-84.3
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316,4073167,4648794,LA,31.2,-92.1
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082,4430910,1344212,ME,45.3,-69.4
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995,4150897,6045680,MD,39.0,-76.6
20,Massachusetts,2272428,24858,2241026.0,6544.0,329696,3607,50416970,7314755,6892503,MA,42.4,-71.4
21,Michigan,3142827,43284,3082734.0,16809.0,314696,4334,28943982,2898207,9986857,MI,44.3,-85.6
22,Minnesota,1812049,15428,1793505.0,3116.0,321306,2736,24412112,4328671,5639632,MN,46.7,-94.7
23,Mississippi,1000415,13474,984056.0,2885.0,336144,4527,7063623,2373410,2976149,MS,32.4,-89.4
24,Missouri,1780715,22778,1757937.0,0.0,290140,3711,14632189,2384091,6137428,MO,38.0,-91.8
25,Montana,333758,3712,329725.0,321.0,312280,3473,2789012,2609534,1068778,MT,46.9,-110.4
26,Nebraska,574399,5063,566979.0,2357.0,296938,2617,5506012,2846355,1934408,NE,41.5,-99.9
27,Nevada,909923,12126,891273.0,6524.0,295415,3937,6875532,2232203,3080156,NV,38.8,-116.4
28,New Hampshire,382013,3099,2078132.6,13326.4,280952,2279,4845153,3563370,1359711,NH,43.2,-71.6
29,New Jersey,3123426,36266,3055814.0,31346.0,351650,4083,32419102,3649900,8882190,NJ,40.1,-74.4
30,New Mexico,681525,9236,660313.0,11976.0,325027,4405,8610078,4106238,2096829,NM,35.0,-105.0
31,New York,7122731,78103,7014253.0,30375.0,366140,4015,131503719,6759879,19453561,NY,43.3,-74.2
32,North Carolina,3501404,29059,2078132.6,13326.4,333846,2771,26656056,2541556,10488084,NC,35.8,-79.0
33,North Dakota,293570,2513,290540.0,517.0,385231,3298,2462480,3231338,762062,ND,47.6,-101.0
34,Ohio,3504742,42522,3430857.0,31363.0,299830,3638,24766997,2118811,11689100,OH,40.4,-82.9
35,Oklahoma,1306350,16157,1288527.0,1666.0,330139,4083,5473577,1383274,3956971,OK,35.0,-97.1
36,Oregon,974924,9544,956827.0,8553.0,231149,2263,12508506,2965691,4217737,OR,43.8,-120.6
37,Pennsylvania,3565499,51480,2078132.6,13326.4,278511,4021,30962562,2418574,12801989,PA,41.2,-77.2
38,Rhode Island,443803,4166,439178.0,459.0,418935,3933,8808359,8314785,1059361,RI,41.6,-71.5
39,South Carolina,1857853,20311,1827064.0,10478.0,360838,3945,18979097,3686182,5148714,SC,33.8,-81.2
40,South Dakota,282895,3231,2078132.6,13326.4,319779,3652,2331003,2634917,884659,SD,44.0,-99.9
41,Tennessee,2588139,29734,2548828.0,9577.0,378983,4354,14843622,2173560,6829174,TN,35.5,-86.6
42,Texas,8792279,94873,8598329.0,99077.0,303225,3272,73904384,2548789,28995881,TX,32.0,-99.9
43,Utah,1106483,5418,1096422.0,4643.0,345133,1690,9406861,2934181,3205958,UT,39.3,-111.1
44,Vermont,154009,929,153011.0,69.0,246814,1489,4184358,6705820,623989,VT,44.6,-72.6
45,Virginia,2315784,23748,2289616.0,2420.0,271311,2782,19172533,2246206,8535519,VA,37.4,-78.7
46,Washington,1989477,16151,1960007.0,13319.0,261261,2121,18887049,2480278,7614893,WA,47.8,-120.7
47,West Virginia,657760,8188,644461.0,5111.0,367023,4569,7291246,4068442,1792147,WV,38.6,-80.5
48,Wisconsin,2043838,16758,2020642.0,6438.0,351028,2878,19643258,3373719,5822434,WI,43.8,-88.8
49,Wyoming,188851,2048,186326.0,477.0,326303,3539,1572010,2716174,578759,WY,43.1,-107.3

In [29]:
import folium
from folium.plugins import HeatMap
import pandas as pd

# Charger les données sur les cas et les décè

# Créer une carte centrée sur les États-Unis
m = folium.Map(location=[37, -102], zoom_start=4)

# Créer une liste de points de latitude et de longitude avec le nombre de cas pour chaque État
heat_data = [[row['Latitude'], row['Longitude'], row['Total Cases']] for idx, row in usa_dataframe.iterrows()]

# Ajouter la heatmap à la carte
HeatMap(heat_data).add_to(m)

# Afficher la carte
m.save("heatmap.html")
webbrowser.open("heatmap.html")

True